<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPSDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F91C16421D8AA49F0063ABCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91C16591D8AA49F0063ABCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91C16641D8AA49F0063ABCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
